In [1]:
import pandas as pd

In [2]:
police_df = pd.read_csv('/content/3. Police Data.csv')

In [3]:
police_df

       stop_date stop_time  ...  stop_duration drugs_related_stop
0       1/2/2005      1:55  ...       0-15 Min              False
1      1/18/2005      8:15  ...       0-15 Min              False
2      1/23/2005     23:15  ...       0-15 Min              False
3      2/20/2005     17:15  ...      16-30 Min              False
4      3/14/2005     10:00  ...       0-15 Min              False
...          ...       ...  ...            ...                ...
22695   1/1/2008     16:16  ...       0-15 Min              False
22696   1/1/2008     16:31  ...       0-15 Min              False
22697   1/1/2008     20:20  ...       0-15 Min              False
22698   1/2/2008      1:15  ...      16-30 Min              False
22699   1/2/2008      2:05  ...            NaN                NaN

[22700 rows x 15 columns]

# Analyzing Dataset

**.head()**
 
 It shows the first N rows in the data (by default, N=5)

In [4]:
police_df.head()

   stop_date stop_time  ...  stop_duration drugs_related_stop
0   1/2/2005      1:55  ...       0-15 Min              False
1  1/18/2005      8:15  ...       0-15 Min              False
2  1/23/2005     23:15  ...       0-15 Min              False
3  2/20/2005     17:15  ...      16-30 Min              False
4  3/14/2005     10:00  ...       0-15 Min              False

[5 rows x 15 columns]

**.shape**

It shows the total no. of rows and no. of columns of the dataframe

In [5]:
police_df.shape

(22700, 15)

**.index** 

 This attribute provides the index of the dataframe

In [6]:
police_df.index

RangeIndex(start=0, stop=22700, step=1)

**.columns**

It shows the name of each column

In [7]:
police_df.columns

Index(['stop_date', 'stop_time', 'country_name', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race', 'violation_raw',
       'violation', 'search_conducted', 'search_type', 'stop_outcome',
       'is_arrested', 'stop_duration', 'drugs_related_stop'],
      dtype='object')

**.dtypes**

It shows the data-type of each column

In [8]:
police_df.dtypes

stop_date              object
stop_time              object
country_name          float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted       object
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop     object
dtype: object

**.unique()**

In a column, it shows all the unique values. It can be applied on a single column only, not on the whole dataframe.

In [10]:
police_df['driver_race'].unique()

array(['White', 'Black', 'Asian', nan, 'Hispanic', 'Other'], dtype=object)

**.nunique()**

It shows the total no. of unique values in each column. It can be applied on a single column as well as on the whole dataframe

In [11]:
police_df['driver_race'].nunique()

5

In [12]:
police_df.nunique()

stop_date              851
stop_time             1336
country_name             0
driver_gender            2
driver_age_raw          82
driver_age              70
driver_race              5
violation_raw           11
violation                5
search_conducted         2
search_type             23
stop_outcome             6
is_arrested              2
stop_duration            3
drugs_related_stop       2
dtype: int64

**.count()**

It shows the total no. of non-null values in each column. It can be applied on a single column as well as on the whole dataframe.

In [13]:
police_df.count()

stop_date             22700
stop_time             22700
country_name              0
driver_gender         21574
driver_age_raw        21582
driver_age            21506
driver_race           21574
violation_raw         21574
violation             21574
search_conducted      22699
search_type             902
stop_outcome          21574
is_arrested           21574
stop_duration         21574
drugs_related_stop    22699
dtype: int64

In [14]:
police_df['search_type'].count()

902

**.value_counts**

In a column, it shows all the unique values with their count. It can be applied on a single column only.

In [15]:
police_df['search_type'].value_counts()

Incident to Arrest                                          399
Probable Cause                                              153
Protective Frisk                                             77
Incident to Arrest,Inventory                                 59
Inventory                                                    53
Reasonable Suspicion                                         28
Incident to Arrest,Probable Cause                            28
Incident to Arrest,Protective Frisk                          23
Incident to Arrest,Inventory,Probable Cause                  12
Probable Cause,Protective Frisk                              11
Probable Cause,Reasonable Suspicion                          10
Incident to Arrest,Inventory,Protective Frisk                10
Protective Frisk,Reasonable Suspicion                         9
Inventory,Protective Frisk                                    9
Incident to Arrest,Probable Cause,Protective Frisk            7
Inventory,Probable Cause                                      5
Incident to Arrest,Inventory,Reasonable Suspicion             2
Incident to Arrest,Reasonable Suspicion                       2
Incident to Arrest,Protective Frisk,Reasonable Suspicion      1
Inventory,Probable Cause,Reasonable Suspicion                 1
Inventory,Probable Cause,Protective Frisk                     1
Incident to Arrest,Probable Cause,Reasonable Suspicion        1
Inventory,Reasonable Suspicion                                1
Name: search_type, dtype: int64

**.info()**

Provides basic information about the dataframe.

In [16]:
police_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22700 entries, 0 to 22699
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           22700 non-null  object
 1   stop_time           22700 non-null  object
 2   country_name        0 non-null      float64
 3   driver_gender       21574 non-null  object
 4   driver_age_raw      21582 non-null  float64
 5   driver_age          21506 non-null  float64
 6   driver_race         21574 non-null  object
 7   violation_raw       21574 non-null  object
 8   violation           21574 non-null  object
 9   search_conducted    22699 non-null  object
 10  search_type         902 non-null    object
 11  stop_outcome        21574 non-null  object
 12  is_arrested         21574 non-null  object
 13  stop_duration       21574 non-null  object
 14  drugs_related_stop  22699 non-null  object
dtypes: float64(3), object(12)
memory usage: 2.6+ MB

**.describe()**

This method is used to view some basic statistical details like percentile, mean, std etc

In [17]:
police_df.describe()

       country_name  driver_age_raw    driver_age
count           0.0    21582.000000  21506.000000
mean            NaN     1968.688583     33.014275
std             NaN      109.708185     12.360234
min             NaN        0.000000     15.000000
25%             NaN     1965.000000     23.000000
50%             NaN     1977.000000     30.000000
75%             NaN     1983.000000     41.000000
max             NaN     8801.000000     88.000000

Remove the columns that **only** contains missing (NaN) values

In [18]:
police_df.isnull()

       stop_date  stop_time  ...  stop_duration  drugs_related_stop
0          False      False  ...          False               False
1          False      False  ...          False               False
2          False      False  ...          False               False
3          False      False  ...          False               False
4          False      False  ...          False               False
...          ...        ...  ...            ...                 ...
22695      False      False  ...          False               False
22696      False      False  ...          False               False
22697      False      False  ...          False               False
22698      False      False  ...          False               False
22699      False      False  ...           True                True

[22700 rows x 15 columns]

In [19]:
police_df.isnull().sum()

stop_date                 0
stop_time                 0
country_name          22700
driver_gender          1126
driver_age_raw         1118
driver_age             1194
driver_race            1126
violation_raw          1126
violation              1126
search_conducted          1
search_type           21798
stop_outcome           1126
is_arrested            1126
stop_duration          1126
drugs_related_stop        1
dtype: int64

In [21]:
police_df.drop(columns = 'country_name', inplace = True)

For Speeding, Who were stopped more often, Men or Women?

In [28]:
police_df[police_df['violation'] == 'Speeding'].driver_gender.value_counts()

M    11459
F     4896
Name: driver_gender, dtype: int64

Does gender gets affect who get searched during a stop?

In [29]:
police_df.head()

   stop_date stop_time  ... stop_duration  drugs_related_stop
0   1/2/2005      1:55  ...      0-15 Min               False
1  1/18/2005      8:15  ...      0-15 Min               False
2  1/23/2005     23:15  ...      0-15 Min               False
3  2/20/2005     17:15  ...     16-30 Min               False
4  3/14/2005     10:00  ...      0-15 Min               False

[5 rows x 14 columns]

In [44]:
police_df.groupby('driver_gender').search_conducted.sum()

driver_gender
F    124
M    778
Name: search_conducted, dtype: int64

In [47]:
police_df['search_conducted'].value_counts()

False    21797
True       902
Name: search_conducted, dtype: int64

What is the mean stop duration?

In [49]:
police_df.head()

   stop_date stop_time  ... stop_duration  drugs_related_stop
0   1/2/2005      1:55  ...      0-15 Min               False
1  1/18/2005      8:15  ...      0-15 Min               False
2  1/23/2005     23:15  ...      0-15 Min               False
3  2/20/2005     17:15  ...     16-30 Min               False
4  3/14/2005     10:00  ...      0-15 Min               False

[5 rows x 14 columns]

In [50]:
police_df['stop_duration'].value_counts()

0-15 Min     17676
16-30 Min     3088
30+ Min        810
Name: stop_duration, dtype: int64

In [52]:
police_df['stop_duration'] = police_df['stop_duration'].map({'0-15 Min' : 7.5, '16-30 Min' : 24, '30+ Min': 45})

In [53]:
police_df['stop_duration'].mean()

11.269676462408455

Compare the age distribution in each violation

In [55]:
police_df.groupby('violation').driver_age.describe()

                       count       mean        std  ...   50%   75%   max
violation                                           ...
Equipment             1400.0  31.126429  11.198981  ...  27.0  38.0  81.0
Moving violation      2666.0  34.822956  12.844143  ...  33.0  44.0  81.0
Other                  483.0  34.109731  12.160168  ...  32.0  43.0  75.0
Registration/plates    639.0  31.544601  10.408918  ...  29.0  40.0  66.0
Speeding             16313.0  32.907252  12.413592  ...  29.0  41.0  88.0

[5 rows x 8 columns]